<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ver reporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item margin-bottom>
      <ion-label>
        <strong>ID de la Reserva:</strong> {{reporte.idReserva}}
      </ion-label>
    </ion-item>
    <ion-item margin-bottom *ngIf="reserva">
      <ion-label>
        <strong>Alumno:</strong> {{reserva.alumno.nombreCompleto}}
      </ion-label>
    </ion-item>
    <ion-item margin-bottom *ngIf="reserva">
      <ion-label>
        <strong>Fecha de la Reserva:</strong> {{reemplazarGuion(reserva.fechaReserva) | date:'dd-MM-yyyy'}}
      </ion-label>
    </ion-item>
    <ion-item margin-bottom *ngIf="reserva">
      <ion-label>
        <strong>Aeronave:</strong> {{reserva.aeronave.descripcion}}
      </ion-label>
    </ion-item>
    <ion-item margin-bottom *ngFor="let dato of reporte.categorias">
      <ion-label>
        <strong>{{dato.parametro}}:</strong>
        {{dato.valor ? (dato.tipoDato === 'boolean' ?
        (dato.valor === 'true' ? 'Satisface' : 'No satisface') : dato.valor) : ''}}
      </ion-label>
    </ion-item>
    <div padding>
      <ion-button color="primary" expand="block" (click)="descargarReporte()">Descargar reporte</ion-button>
    </div>

  </ion-list>
</ion-content>
