<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mapa reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" style="width:100%; height:100%;"></div>
</ion-content>
