<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >Configuraciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [routerLink]="['/cambiar-password']">
      <ion-label>Cambiar contraseña</ion-label>
      <ion-icon slot="end" name="ios-arrow-forward"></ion-icon>
    </ion-item>
    <ion-item *ngIf="hasKeychain">
      <ion-label>Habilitar ingreso por huella:</ion-label>
      <ion-toggle (ionChange)="cambiarHuella()" [(ngModel)]="touchHabilitado"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
