<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let reserva of reservas" margin >
      <ion-card-content>
        <!--        historial reserva, verificar si retorna descripcion de alumno, instructor, etc, y mostrar-->
        <!--        historial reserva: mostrar estado, mostrar instructor, si no tiene instructor, no mostrar mision ni instructor,-->
        <ion-item no-padding no-margin>
          <h2><strong>Modelo:</strong> {{reserva.aeronave && reserva.aeronave.descripcion}}</h2>
        </ion-item>
        <ion-item  no-padding no-margin lines="none">
          <p><strong>Horario desde: </strong> {{reemplazarGuion(reserva.inicio) | date:'HH:mm'}}</p>
        </ion-item>
        <ion-item  no-padding no-margin lines="none">
          <p><strong>Horario hasta: </strong> {{reemplazarGuion(reserva.fin) | date:'HH:mm'}}</p>
        </ion-item>
        <ion-item  no-padding no-margin lines="none">
          <p><strong>Fecha: </strong> {{reemplazarGuion(reserva.fechaReserva) | date:'dd-MM-yyyy'}}</p>
        </ion-item>
        <ion-item  no-padding no-margin lines="none">
          <p><strong>Alumno: </strong> {{reserva.alumno && reserva.alumno.nombreCompleto}}</p>
        </ion-item>
        <ion-item  no-padding no-margin lines="none">
          <p><strong>Estado: </strong> {{reserva.estado && reserva.estado.descripcion}}</p>
        </ion-item>
        <ion-item  no-padding no-margin lines="none" >
          <ion-label position="floating"><strong>Instructor:</strong> </ion-label>
          <ion-select placeholder="Seleccione un instructor" [compareWith]="compareByIdInstructor" name="instructor"
                      (ionChange)="onChangeInstructor($event, reserva)" [(ngModel)]="reserva.instructor"
                      cancelText="Cancelar" okText="Ok">
            <ion-select-option *ngFor="let instructor of instructores" [value]="instructor">{{instructor.nombreCompleto}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item  no-padding no-margin lines="none">
          <ion-label position="floating"><strong>Misión:</strong> </ion-label>
          <ion-select placeholder="Seleccione una misión" [compareWith]="compareByIdMision" name="mision"
                      (ionChange)="onChangeMision($event, reserva)" [(ngModel)]="reserva.mision"
                      cancelText="Cancelar" okText="Ok">
            <ion-select-option *ngFor="let mision of misiones" [value]="mision">{{mision.descripcion}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-button expand="block"
                          color="success"
                          (click)="modificarReserva(reserva, 2)"
                          margin-horizontal>
                Aprobar
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block"
                          color="danger"
                          (click)="mostrarAlertMotivo(reserva)"
                          margin-horizontal>
                Rechazar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
