<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item margin-bottom>
      <ion-label>
        <strong>Alumno:</strong> {{perfil.nombreCompleto}}
      </ion-label>
    </ion-item>
    <ion-item margin-bottom>
      <ion-label>
        <strong>Horas de vuelo:</strong> {{perfil.horasVuelo | number:'1.0-3':'es'}} hs.
      </ion-label>
    </ion-item>
    <ion-item margin-bottom>
      <ion-label>
        <strong>Último vuelo:</strong> {{reemplazarGuion(perfil.ultimoVuelo) | date:'dd-MM-yyyy'}}
      </ion-label>
    </ion-item>
    <ion-item margin-bottom>
      <ion-label>
        <strong>Curso:</strong> {{perfil.curso && perfil.curso.descripcion}}
      </ion-label>
    </ion-item>
    <ion-item margin-bottom>
      <ion-label>
        <strong>Habilitado:</strong> {{perfil.habilitado ? 'Sí' : 'No'}}
      </ion-label>
    </ion-item>
<!--    <ion-item margin-bottom>-->
<!--      <ion-label>-->
<!--        <strong>Horas de vuelo precompradas:</strong>-->
<!--        <p>{{perfil.saldoDisponible}}</p>-->
<!--      </ion-label>-->
<!--    </ion-item>-->
    <ion-item margin-bottom>
      <ion-label>
        <strong>Vencimiento carnet:</strong> {{reemplazarGuion(perfil.fechaVencimientoPermiso) | date:'dd-MM-yyyy'}}
      </ion-label>
    </ion-item>
    <ion-item margin-bottom>
      <ion-label>
        <strong>Vencimiento CMA:</strong> {{reemplazarGuion(perfil.cma) | date:'dd-MM-yyyy'}}
      </ion-label>
    </ion-item>
    <ion-item margin-bottom>
      <ion-label>
        <strong>Licencia de vuelo:</strong> {{perfil.nroLicenciaVuelo}}
      </ion-label>
    </ion-item>
    <div padding>
      <ion-button (click)="goToReservas()" color="primary" expand="block" >Historial de reservas</ion-button>
    </div>
    <div padding>
      <ion-button (click)="goToReportes()" color="primary" expand="block" >Reportes</ion-button>
    </div>
  </ion-list>
</ion-content>
