<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!buscando">Aeronaves</ion-title>
    <ion-searchbar placeholder="Buscar..." *ngIf="buscando" (ionClear)="mostrarSearchBar()" [(ngModel)]="filtro" (keyup.enter)="filtrar()"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarSearchBar()" *ngIf="!buscando"><ion-icon [name]="'search'"></ion-icon></ion-button>
      <ion-button *ngIf="perfil.includes('secretaria')" [routerLink]="['/aeronaves-crear']"><ion-icon name="add"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let aeronave of aeronavesFiltradas" margin>
      <ion-card-content *ngIf="perfil.includes('alumno') || perfil.includes('taller')  " (click)="perfil.includes('alumno') ? goToReservasAvion(aeronave) : goToCrearMantenimiento(aeronave)">
        <ion-item no-padding no-margin>
          <h2><strong>Modelo</strong> {{aeronave.descripcion}}</h2>
        </ion-item>
        <ion-item  no-padding no-margin lines="none">
          <p><strong>Habilitado: </strong> {{aeronave.habilitado ? 'Sí' : 'No'}}</p>
        </ion-item>
        <ion-item  no-padding no-margin lines="none">
          <p><strong>Costo por periodo: </strong> {{aeronave.costoPorPeriodo | number:'1.0-3':'es'}}</p>
        </ion-item>
        <ion-item  no-padding no-margin lines="none">
          <p><strong>Horas de vuelo disponibles: </strong> {{aeronave.horasVueloDisponible | number:'1.0-3':'es'}}</p>
        </ion-item>
      </ion-card-content>
      <ion-card-content *ngIf="perfil.includes('secretaria')">
        <ion-item no-padding no-margin>
          <h2><strong>Modelo</strong> {{aeronave.descripcion}}</h2>
          <ion-button slot="end" (click)="goToEditar(aeronave)">
            Editar
          </ion-button>
        </ion-item>
        <ion-item  no-padding no-margin lines="none">
          <ion-label><strong>Costo por periodo: </strong> {{aeronave.costoPorPeriodo | number:'1.0-3':'es'}}</ion-label>
        </ion-item>
        <ion-item lines="none" no-margin no-padding >
          <ion-label><strong>Habilitado:</strong></ion-label>
          <ion-toggle (ionChange)="habilitarAeronave(aeronave)" [(ngModel)]="aeronave.habilitado"></ion-toggle>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
