<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Crear reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (submit)="mostrarAlert()">
    <ion-list>

      <ion-item margin-bottom *ngIf="perfil.includes('alumno')">
        <ion-label position="floating">Alumno</ion-label>
        <ion-input type="text" [(ngModel)]="alumno" name="alumno" disabled></ion-input>
      </ion-item>

      <ion-item margin-bottom *ngIf="alumnoElegido && alumnoElegido.tipo === 'temporal'">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="reserva.nombre" name="nombre"></ion-input>
      </ion-item>

      <ion-item margin-bottom *ngIf="alumnoElegido && alumnoElegido.tipo === 'temporal'">
        <ion-label position="floating">Apellido</ion-label>
        <ion-input [(ngModel)]="reserva.apellido" name="apellido"></ion-input>
      </ion-item>

      <ion-item margin-bottom *ngIf="alumnoElegido && alumnoElegido.tipo === 'temporal'">
        <ion-label position="floating">Documento</ion-label>
        <ion-input [(ngModel)]="reserva.documento" name="documento"></ion-input>
      </ion-item>

      <ion-item margin-bottom *ngIf="perfil.includes('secretaria')">
        <ion-label position="floating">Alumno</ion-label>
        <ion-select placeholder="Seleccione un alumno" [compareWith]="compareByIdAlumno" name="alumno" (ionChange)="onChangeAlumno($event)" [(ngModel)]="alumnoElegido" cancelText="Cancelar" okText="Ok">
          <ion-select-option *ngFor="let alumno of alumnos" [value]="alumno">{{alumno.nombreCompleto}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="floating">Fecha</ion-label>
        <ion-datetime [(ngModel)]="reserva.fechaReserva" disabled display-format="DD/MM/YYYY" picker-format="DD MM YYYY" name="fecha"></ion-datetime>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="floating">Inicio</ion-label>
        <ion-datetime [(ngModel)]="reserva.horaInicio" disabled display-format="HH:mm" picker-format="HH:mm" name="inicio"></ion-datetime>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="floating">Bloque</ion-label>
        <ion-select placeholder="Seleccione una un bloque" [(ngModel)]="reserva.bloque" name="bloque" (ionChange)="onChangeBloque($event)" cancelText="Cancelar" okText="Ok">
          <ion-select-option>1</ion-select-option>
          <ion-select-option>2</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="floating">Aeronave</ion-label>
        <ion-select placeholder="Seleccione una aeronave" [compareWith]="compareById" name="aeronave" (ionChange)="onChangeAeronave($event)" [(ngModel)]="aeronaveElegida" cancelText="Cancelar" okText="Ok">
          <ion-select-option *ngFor="let avion of aeronaves" [value]="avion">{{avion.descripcion}}</ion-select-option>
        </ion-select>
      </ion-item>

      <div padding>
        <ion-button color="primary" expand="block" type="submit">Crear reserva</ion-button>
      </div>

    </ion-list>
  </form>
</ion-content>
