<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item margin-bottom>
      <ion-label position="floating">ID de la Reserva</ion-label>
      <ion-input (ionBlur)="obtenerReserva()" type="number" [(ngModel)]="idReserva" name="alumno"></ion-input>
    </ion-item>

    <ion-item margin-bottom  *ngIf="reserva">
      <ion-label><strong>Alumno:</strong> {{reserva.alumno.nombreCompleto}}</ion-label>
    </ion-item>
    <ion-item margin-bottom  *ngIf="reserva">
      <ion-label><strong>Fecha:</strong> {{reemplazarGuion(reserva.fechaReserva) | date:'dd-MM-yyyy'}}</ion-label>
    </ion-item>
    <ion-item margin-bottom  *ngIf="reserva">
      <ion-label><strong>Aeronave:</strong> {{reserva.aeronave.descripcion}}</ion-label>
    </ion-item>

    <ion-item margin-bottom *ngFor="let parametro of parametros">
      <ion-label position="floating">{{parametro.parametro}}</ion-label>
      <ion-input *ngIf="parametro.tipoDato === 'string'" type="text" [(ngModel)]="parametro.valor" name="{{parametro.nombre}}"></ion-input>
      <ion-select *ngIf="parametro.tipoDato === 'boolean'" [(ngModel)]="parametro.valor" name="{{parametro.nombre}}">
        <ion-select-option [value]="'true'">Satisface</ion-select-option>
        <ion-select-option [value]="'false'">No satisface</ion-select-option>
      </ion-select>
    </ion-item>

    <div padding>
      <ion-button color="primary" expand="block" (click)="cargarReporte()">Cargar reporte</ion-button>
    </div>

  </ion-list>
</ion-content>
