<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{editar ? 'Modificar' : 'Crear'}} aeronave</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (submit)="guardar()" [formGroup]="aeronave">
    <ion-list>

      <ion-item margin-bottom>
        <ion-label position="floating">Modelo</ion-label>
        <ion-input type="text" required formControlName="descripcion" name="descripcion"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.descripcion">
          <div class="error-message" *ngIf="aeronave.get('descripcion').hasError(validation.type) && (aeronave.get('descripcion').dirty || aeronave.get('descripcion').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item margin-bottom>
        <ion-label position="floating">Costo por periodo</ion-label>
        <ion-input type="number" required formControlName="costoPorPeriodo" name="costoPorPeriodo"></ion-input>
      </ion-item>
      <ion-item margin-bottom>
        <ion-label position="floating">Horas de vuelo disponibles</ion-label>
        <ion-input type="number" required formControlName="horasVueloDisponible" name="horasVueloDisponible"></ion-input>
      </ion-item>

      <div padding>
        <ion-button color="primary" [disabled]="!aeronave.valid" expand="block" type="submit">Guardar aeronave</ion-button>
      </div>

    </ion-list>
  </form>
</ion-content>
