<ion-header>
  <ion-toolbar>
    <ion-title>resetear-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="login-content">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
      <h1>HeliApp</h1>

      <form>
        <ion-list>

          <ion-item>
            <ion-label position="floating">Contraseña actual</ion-label>
            <ion-input type="password" [(ngModel)]="oldPassword" name="oldPassword"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña nueva</ion-label>
            <ion-input type="password" [(ngModel)]="newPassword" name="newPassword"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Confirmar contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword"></ion-input>
          </ion-item>

          <div padding>
            <ion-button color="primary" expand="block" type="submit">CambiarContraseña</ion-button>
          </div>

        </ion-list>
      </form>
    </ion-row>
  </ion-grid>


</ion-content>
