<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editar alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (submit)="guardarAlumno()">
    <ion-list>

      <ion-item margin-bottom>
        <ion-label position="floating">Alumno</ion-label>
        <ion-input type="text" [(ngModel)]="alumno.nombreCompleto" name="alumno" disabled></ion-input>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="floating">Vencimiento de carnet</ion-label>
        <ion-datetime max="2025" [(ngModel)]="alumno.fechaVencimientoPermiso" display-format="DD/MM/YYYY" picker-format="DD MM YYYY" name="fechaVencimientoPermiso"></ion-datetime>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="floating">Vencimiento CMA</ion-label>
        <ion-datetime max="2025" [(ngModel)]="alumno.cma" display-format="DD/MM/YYYY" picker-format="DD MM YYYY" name="fechaVencimientoCma"></ion-datetime>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="floating">Curso</ion-label>
        <ion-select placeholder="Seleccione un curso" [compareWith]="compareById" name="curso" (ionChange)="onChangeCurso($event)" [(ngModel)]="cursoElegido" cancelText="Cancelar" okText="Ok">
          <ion-select-option *ngFor="let curso of cursos" [value]="curso">{{curso.descripcion}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="floating">Licencia de vuelo</ion-label>
        <ion-input type="text" [(ngModel)]="alumno.nroLicenciaVuelo" name="nroLicenciaVuelo"></ion-input>
      </ion-item>

      <div padding>
        <ion-button color="primary" expand="block" type="submit">Guardar alumno</ion-button>
      </div>

    </ion-list>
  </form>
</ion-content>
