<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{editar ? 'Modificar' : 'Crear'}} usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (submit)="guardar()" [formGroup]="usuario">
    <ion-list>

      <ion-item margin-bottom>
        <ion-label position="floating">Nombre completo</ion-label>
        <ion-input type="text" required formControlName="nombreCompleto" name="nombreCompleto"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.nombreCompleto">
          <div class="error-message" *ngIf="usuario.get('nombreCompleto').hasError(validation.type) && (usuario.get('nombreCompleto').dirty || usuario.get('nombreCompleto').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item margin-bottom>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" required formControlName="usuario" name="usuario"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.usuario">
          <div class="error-message" *ngIf="usuario.get('usuario').hasError(validation.type) && (usuario.get('usuario').dirty || usuario.get('usuario').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item margin-bottom>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="text" email required formControlName="correo" name="correo"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.correo">
          <div class="error-message" *ngIf="usuario.get('correo').hasError(validation.type) && (usuario.get('correo').dirty || usuario.get('correo').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item margin-bottom [disabled]="editar">
        <ion-label position="floating">Perfil</ion-label>
        <ion-select placeholder="Seleccione un perfil" required [compareWith]="compareById" name="perfil" (ionChange)="onChangePerfil($event)" formControlName="perfil" cancelText="Cancelar" okText="Ok">
          <ion-select-option *ngFor="let perfil of perfiles" [value]="perfil">{{perfil.descripcion}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.perfil">
          <div class="error-message" *ngIf="usuario.get('perfil').hasError(validation.type) && (usuario.get('perfil').dirty || usuario.get('perfil').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item margin-bottom *ngIf="perfilElegido && perfilElegido.descripcion !== null && perfilElegido.descripcion.toLowerCase().includes('instructor')">
        <ion-label position="floating">Instructor</ion-label>
        <ion-select placeholder="Seleccione un instructor" required [compareWith]="compareByIdInstructor" name="instructor" (ionChange)="onChangeInstructor($event)" formControlName="instructor" cancelText="Cancelar" okText="Ok">
          <ion-select-option *ngFor="let instructor of instructores" [value]="instructor">{{instructor.nombreCompleto}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item margin-bottom *ngIf="perfilElegido && perfilElegido.descripcion !== null && perfilElegido.descripcion.toLowerCase().includes('alumno')">
        <ion-label position="floating">Dirección</ion-label>
        <ion-input type="text" formControlName="direccion" name="direccion"></ion-input>
      </ion-item>
      <ion-item margin-bottom *ngIf="perfilElegido && perfilElegido.descripcion !== null && perfilElegido.descripcion.toLowerCase().includes('alumno')">
        <ion-label position="floating">Documento</ion-label>
        <ion-input type="text" formControlName="documento" name="documento"></ion-input>
      </ion-item>
      <ion-item margin-bottom *ngIf="perfilElegido && perfilElegido.descripcion !== null && perfilElegido.descripcion.toLowerCase().includes('alumno') && !editar">
        <ion-label position="floating">Licencia de vuelo</ion-label>
        <ion-input type="text" formControlName="nroLicenciaVuelo" name="nroLicenciaVuelo"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.nroLicenciaVuelo">
          <div class="error-message" *ngIf="usuario.get('nroLicenciaVuelo').hasError(validation.type) && (usuario.get('nroLicenciaVuelo').dirty || usuario.get('nroLicenciaVuelo').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <div padding>
        <ion-button color="primary" [disabled]="!usuario.valid" expand="block" type="submit">Guardar usuario</ion-button>
      </div>

    </ion-list>
  </form>
</ion-content>
