<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Agendar cierre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (submit)="agendar()">
    <ion-list>

      <ion-item margin-bottom>
        <ion-label position="floating">Aeronaves</ion-label>
        <ion-select placeholder="Seleccione las aeronaves" [compareWith]="compareById" name="aeronave" multiple (ionChange)="onChangeAeronave($event)" [(ngModel)]="aeronaveElegida" cancelText="Cancelar" okText="Ok">
          <ion-select-option *ngFor="let avion of aeronaves" [value]="avion">{{avion.descripcion}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="floating">Fecha inicio</ion-label>
        <ion-datetime [(ngModel)]="cierrePista.inicio" display-format="DD/MM/YYYY HH:mm" picker-format="DD/MM/YYYY HH:mm" [min]="anho - 2" [max]="anho + 2" minuteValues="0,30" name="inicio" cancelText="Cancelar" doneText="Ok"></ion-datetime>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="floating">Fecha fin</ion-label>
        <ion-datetime [(ngModel)]="cierrePista.fin" display-format="DD/MM/YYYY HH:mm" picker-format="DD/MM/YYYY HH:mm" [min]="anho - 2" [max]="anho + 2" minuteValues="0,30" name="fin" cancelText="Cancelar" doneText="Ok"></ion-datetime>
      </ion-item>

      <div padding>
        <ion-button color="primary" expand="block" type="submit">Agendar cierre</ion-button>
      </div>

    </ion-list>
  </form>
</ion-content>
