<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cargar horario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-list>

      <ion-item margin-bottom *ngIf="!limpiar">
        <ion-label position="floating">Inicio</ion-label>
        <ion-datetime [(ngModel)]="horario.inicio" display-format="HH:mm" picker-format="HH:mm" name="inicio"></ion-datetime>
      </ion-item>

      <ion-item margin-bottom *ngIf="!limpiar">
        <ion-label position="floating">Fin</ion-label>
        <ion-datetime [(ngModel)]="horario.fin" display-format="HH:mm" picker-format="HH:mm" name="fin"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Días</ion-label>
        <ion-select [(ngModel)]="horario.dias" [ngModelOptions]="{standalone: true}" multiple placeholder="Seleccione los días">
          <ion-select-option value="1">Domingo</ion-select-option>
          <ion-select-option value="2">Lunes</ion-select-option>
          <ion-select-option value="3">Martes</ion-select-option>
          <ion-select-option value="4">Miércoles</ion-select-option>
          <ion-select-option value="5">Jueves</ion-select-option>
          <ion-select-option value="6">Viernes</ion-select-option>
          <ion-select-option value="7">Sábado</ion-select-option>
        </ion-select>
      </ion-item>

      <div padding>
        <ion-button color="primary" [disabled]="((!limpiar && (!horario.inicio || !horario.fin)) || !horario.dias || horario.dias.length === 0)" expand="block" (click)="guardar()">{{limpiar ? 'Limpiar' : 'Cargar'}} horario</ion-button>
      </div>

    </ion-list>
  </form>
</ion-content>
