<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mantenimiento</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/crear-mantenimiento']"><ion-icon name="cog"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let mantenimiento of mantenimientos" margin>
      <ion-card-content>
        <ion-item no-padding no-margin>
          <h2><strong>Modelo</strong> {{mantenimiento.aeronave && mantenimiento.aeronave.descripcion}}</h2>
        </ion-item>
        <ion-item  no-padding no-margin lines="none">
          <p><strong>Horas de vuelo: </strong> {{mantenimiento.aeronave && mantenimiento.aeronave.horasVueloDisponible | number:'1.0-3':'es'}}</p>
        </ion-item>
        <ion-item  no-padding no-margin lines="none">
          <p><strong>Fecha del mantenimiento: </strong> {{mantenimiento.fechaMantenimiento | date:'dd-MM-yyyy HH:mm'}}</p>
        </ion-item>
        <ion-item  no-padding no-margin lines="none" *ngIf="mantenimiento.fin">
          <p><strong>Final del mantenimiento: </strong> {{mantenimiento.fin | date:'dd-MM-yyyy HH:mm'}}</p>
        </ion-item>
        <ion-item  no-padding no-margin lines="none" *ngIf="mantenimiento.diasMantenimiento">
          <p><strong>Dias de mantenimiento: </strong> {{mantenimiento.diasMantenimiento}}</p>
        </ion-item>
        <ion-item  no-padding no-margin lines="none">
          <p><strong>Fase: </strong> {{mantenimiento.fase}}</p>
        </ion-item>
        <ion-item  no-padding no-margin lines="none">
          <p><strong>Motivo: </strong> {{mantenimiento.motivo}}</p>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
