<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ver reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item margin-bottom #id>
      <ion-label>
        <strong>ID:</strong> {{reserva.idReserva && reserva.idReserva}}
      </ion-label>
    </ion-item>
    <ion-item margin-bottom>
      <ion-label>
        <strong>Alumno:</strong> {{reserva.alumno && reserva.alumno.nombreCompleto}}
      </ion-label>
    </ion-item>
    <ion-item margin-bottom>
      <ion-label>
        <strong>Curso:</strong> {{reserva.alumno && reserva.alumno.cursoDescripcion}}
      </ion-label>
    </ion-item>
    <ion-item margin-bottom>
      <ion-label>
        <strong>Instructor:</strong> {{reserva.instructor && reserva.instructor.nombreCompleto}}
      </ion-label>
    </ion-item>
    <ion-item margin-bottom>
      <ion-label>
        <strong>Fecha:</strong> {{reemplazarGuion(reserva.fechaReserva) | date:'dd-MM-yyyy'}}
      </ion-label>
    </ion-item>
    <ion-item margin-bottom>
      <ion-label>
        <strong>Horario:</strong> {{reemplazarGuion(reserva.inicio) | date:'HH:mm'}} - {{reemplazarGuion(reserva.fin) | date:'HH:mm'}}
      </ion-label>
    </ion-item>
    <ion-item margin-bottom>
      <ion-label>
        <strong>Horario de vuelo:</strong> {{reemplazarGuion(reserva.spiderIni) | date:'HH:mm'}} - {{reemplazarGuion(reserva.spiderFin) | date:'HH:mm'}}
      </ion-label>
    </ion-item>
    <ion-item margin-bottom>
      <ion-label>
        <strong>Avión:</strong> {{reserva.aeronave && reserva.aeronave.descripcion}}
      </ion-label>
    </ion-item>
    <ion-item margin-bottom>
      <ion-label>
        <strong>Misión:</strong> {{reserva.mision && reserva.mision.descripcion}}
      </ion-label>
    </ion-item>
    <ion-item margin-bottom>
      <ion-label>
        <strong>Estado:</strong> {{reserva.estado && reserva.estado.descripcion}}
      </ion-label>
    </ion-item>
    <ion-item margin-bottom *ngIf="reserva.estadoReserva === 6 && !reserva.calificado && perfil === 'alumno'">
      <ion-label>
        <strong>Calificación:</strong>
      </ion-label>
      <ion-button *ngIf="!calificado && perfil === 'alumno'" (click)="presentPopover($event)" slot="end" color="success" >
        Calificar
      </ion-button>
      <div slot="end" *ngIf="calificado">
        <ion-icon *ngFor="let current of [1, 2, 3, 4, 5]; let i = index" name="star" [class.filled]="i + 1 <= reserva.calificacion"></ion-icon>
      </div>
    </ion-item>
    <div padding *ngIf="reserva.estadoReserva === 6">
      <ion-button color="primary" expand="block" (click)="irAlMapa()">Ver en el mapa</ion-button>
    </div>
    <div padding *ngIf="(reserva.estadoReserva === 1 || reserva.estadoReserva === 2) && (!idAlumno || idAlumno === reserva.idAlumno)">
      <ion-button color="primary" expand="block" (click)="mostrarAlertMotivo(reserva)">Cancelar reserva</ion-button>
    </div>
  </ion-list>
</ion-content>
