<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let notificacion of notificaciones" margin (click)="verReserva(notificacion.idReserva)">
      <ion-card-content>
        <ion-item no-padding no-margin>
          <h2><strong>Reserva:</strong> {{notificacion.idReserva}}</h2>
        </ion-item>
        <ion-item  no-padding no-margin lines="none">
          <p>Fecha: {{notificacion.fechaNotificacion | date:'dd-MM-yyyy'}}</p>
        </ion-item>
        <ion-item  no-padding no-margin lines="none">
          <p>{{notificacion.mensaje}}</p>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
