<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let pista of pistas" margin>
      <ion-card-content>
        <ion-item no-padding no-margin>
          <h2><strong>Pista</strong> {{pista.descripcion && pista.descripcion}}</h2>
        </ion-item>
        <ion-item  no-padding no-margin lines="none">
          <p><strong>Estado: </strong> {{pista.estado ? 'Activo' : 'Inactivo'}}</p>
        </ion-item>
        <ion-button expand="block" (click)="irACierrePista(pista)">
          Agendar cierre
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
