<ion-content padding class="login-content">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
      <form (submit)="doLogin()">
        <ion-img src="assets/logo_heli.jpg"></ion-img>

        <ion-list>
          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input type="email" autocapitalize="off" [(ngModel)]="account.user" name="username"></ion-input>
          </ion-item>


          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="account.pass" name="password"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label >Recordar usuario</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="recordar" [ngModelOptions]="{standalone: true}"></ion-checkbox>
          </ion-item>

          <div padding margin-top>
            <ion-button color="primary" expand="block" type="submit">Ingresar</ion-button>
          </div>

          <div padding>
            <ion-button class="touch-button" color="primary" (click)="onPasswordTouch()" *ngIf="hasKeychain && hasKeychainPassword && touchHabilitado" expand="block" fill="outline">
              <ion-icon name="finger-print"></ion-icon>
              <ion-label>Ingresar con TouchID</ion-label>
            </ion-button>
          </div>
        </ion-list>
      </form>
    </ion-row>
  </ion-grid>


</ion-content>
