<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Atención al cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item margin-bottom>
      <ion-label>
        <h1>Nombre:</h1>
        <p>{{atencion.nombre}}</p>
      </ion-label>
    </ion-item>
    <ion-item margin-bottom>
      <ion-label>
        <h1>Correo:</h1>
        <p>{{atencion.correo}}</p>
      </ion-label>
      <ion-button slot="end" [href]="'mailto:' + atencion.correo" fill="clear" size="default">
        <ion-icon name="mail"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item margin-bottom>
      <ion-label>
        <h1>Teléfono:</h1>
        <p>{{atencion.telefono}}</p>
      </ion-label>
      <ion-button slot="end" [href]="'tel:' + atencion.telefono"  fill="clear" size="default">
        <ion-icon name="call"></ion-icon>
      </ion-button>
      <ion-button slot="end" size="default" [href]="'https://api.whatsapp.com/send?phone=' + atencion.telefono" fill="clear" color="success">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
