<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let reporte of reportes" margin >
      <ion-card-content>
        <ion-item no-padding no-margin>
          <h2><strong>Reserva:</strong> {{reporte.idReserva}}</h2>
        </ion-item>
        <ion-item  no-padding no-margin>
          <h2><strong>Tipo:</strong> {{reporte.tipo.nombre}}</h2>
        </ion-item>
        <ion-item  no-padding no-margin lines="none">
          <h2><strong>Fecha:</strong> {{reporte.fecha | date:'dd-MM-yyyy'}}</h2>
        </ion-item>
        <ion-button margin-top expand="block" (click)="goToReporte(reporte)">
          Ver reporte
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
