<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!buscando">Usuarios</ion-title>
    <ion-searchbar placeholder="Buscar..." *ngIf="buscando" (ionClear)="mostrarSearchBar()" [(ngModel)]="filtro" (keyup.enter)="listarUsuarios()"></ion-searchbar>

    <ion-buttons slot="end">
      <ion-button (click)="mostrarSearchBar()" *ngIf="!buscando"><ion-icon [name]="'search'"></ion-icon></ion-button>
      <ion-button [routerLink]="['/usuarios-crear']"><ion-icon name="add"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let usuario of usuarios">
      <ion-card-content>
        <ion-item no-padding no-margin>
          <h2><strong>Usuario: </strong> {{usuario.usuario}}</h2>
          <ion-button slot="end" (click)="goToEditar(usuario)">
            Editar
          </ion-button>
        </ion-item>
        <ion-item lines="none" no-margin no-padding >
          <ion-label><strong>Nombre:</strong> {{usuario.nombreCompleto}}</ion-label>
        </ion-item>
        <ion-item lines="none" no-margin no-padding >
          <ion-label><strong>Perfil:</strong> {{usuario.descripcionPerfil}}</ion-label>
        </ion-item>
        <ion-item lines="none" no-margin no-padding >
          <ion-label><strong>Habilitado:</strong></ion-label>
          <ion-toggle (ionChange)="habilitarUsuario(usuario)" [(ngModel)]="usuario.habilitado"></ion-toggle>
        </ion-item>
        <ion-button expand="block" (click)="mostrarAlertPassword(usuario)">
          Resetear contraseña
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
