<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Agendar mantenimiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (submit)="agendar()">
    <ion-list>

      <ion-item margin-bottom>
        <ion-label position="floating">Aeronave</ion-label>
        <ion-select placeholder="Seleccione una aeronave" [compareWith]="compareById" name="aeronave" (ionChange)="onChangeAeronave($event)" [(ngModel)]="aeronaveElegida" cancelText="Cancelar" okText="Ok">
          <ion-select-option *ngFor="let avion of aeronaves" [value]="avion">{{avion.descripcion}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="floating">Fecha inicio</ion-label>
        <ion-datetime [(ngModel)]="mantenimiento.inicio" display-format="DD/MM/YYYY HH:mm" picker-format="DD/MM/YYYY HH:mm" [min]="anho - 2" [max]="anho + 2" minuteValues="0,30" name="inicio" cancelText="Cancelar" doneText="Ok"></ion-datetime>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="floating">Días</ion-label>
        <ion-datetime [(ngModel)]="mantenimiento.dias" display-format="HH" picker-format="HH" hourValues="00,01,02,03,04,05,06,07" name="dias" cancelText="Cancelar" doneText="Ok"></ion-datetime>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="floating">Horas</ion-label>
        <ion-datetime [(ngModel)]="mantenimiento.horas" display-format="HH" picker-format="HH" hourValues="00,01,02,03,04,05,06,07,08,09,10,11,12,13,14,15,16,17,18,19,20,21,22,23" name="horas" cancelText="Cancelar" doneText="Ok"></ion-datetime>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="floating">Motivo</ion-label>
        <ion-input type="text" [(ngModel)]="mantenimiento.motivo" name="motivo"></ion-input>
      </ion-item>

      <ion-item margin-bottom>
        <ion-label position="floating">Fase</ion-label>
        <ion-select [(ngModel)]="mantenimiento.fase" name="fase">
          <ion-select-option [value]="">N/A</ion-select-option>
          <ion-select-option [value]="1">Fase 1</ion-select-option>
          <ion-select-option [value]="2">Fase 2</ion-select-option>
        </ion-select>
      </ion-item>

      <div padding>
        <ion-button color="primary" expand="block" type="submit">Agendar mantenimiento</ion-button>
      </div>

    </ion-list>
  </form>
</ion-content>
