<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Instructores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let instructor of instructores" margin>
      <ion-card-content>
        <ion-item no-padding no-margin>
          <h2><strong>Instructor</strong> {{instructor.nombreCompleto}}</h2>
        </ion-item>
        <ion-item  no-padding no-margin lines="none">
          <p><strong>Correo: </strong> {{instructor.correo}}</p>
        </ion-item>
        <ion-button *ngIf="perfil.includes('secretaria')" expand="block" (click)="cargarHorario(instructor, null)">
          Cargar horario
        </ion-button>
        <ion-button margin-top *ngIf="perfil.includes('secretaria')" expand="block" (click)="cargarHorario(instructor, true)">
          Limpiar horario
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
