<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Historial de reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let reserva of reservas" margin (click)="goToReservaDetalle(reserva)">
      <ion-card-content>
<!--        historial reserva, verificar si retorna descripcion de alumno, instructor, etc, y mostrar-->
<!--        historial reserva: mostrar estado, mostrar instructor, si no tiene instructor, no mostrar mision ni instructor,-->
        <ion-item no-padding no-margin>
          <h2><strong>ID:</strong> {{reserva.idReserva && reserva.idReserva}}</h2>
        </ion-item>
        <ion-item no-padding no-margin lines="none">
          <p><strong>Modelo:</strong> {{reserva.aeronave && reserva.aeronave.descripcion}}</p>
        </ion-item>
        <ion-item  no-padding no-margin lines="none">
          <p><strong>Horario desde: </strong> {{reemplazarGuion(reserva.inicio) | date:'HH:mm'}}</p>
        </ion-item>
        <ion-item  no-padding no-margin lines="none">
            <p><strong>Horario hasta: </strong> {{reemplazarGuion(reserva.fin) | date:'HH:mm'}}</p>
        </ion-item>
        <ion-item  no-padding no-margin lines="none">
            <p><strong>Fecha: </strong> {{reemplazarGuion(reserva.fechaReserva) | date:'dd-MM-yyyy'}}</p>
        </ion-item>
        <ion-item  no-padding no-margin lines="none">
          <p><strong>Alumno: </strong> {{reserva.alumno && reserva.alumno.nombreCompleto}}</p>
        </ion-item>
        <ion-item  no-padding no-margin lines="none">
          <p><strong>Estado: </strong> {{reserva.estado && reserva.estado.descripcion}}</p>
        </ion-item>
        <ion-item  no-padding no-margin lines="none" *ngIf="reserva.instructor">
          <p><strong>Instructor: </strong> {{reserva.instructor && reserva.instructor.nombreCompleto}}</p>
        </ion-item>
        <ion-item  no-padding no-margin lines="none" *ngIf="reserva.instructor">
          <p><strong>Mision: </strong> {{reserva.mision && reserva.mision.descripcion}}</p>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
