<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item margin-bottom>
      <ion-label position="floating">ID de la reserva</ion-label>
      <ion-input type="text" [(ngModel)]="idReserva" name="idReserva"></ion-input>
    </ion-item>
    <ion-button margin-bottom margin-top expand="block" (click)="buscarReporte()">
      Buscar por ID reserva
    </ion-button>
    <ion-button margin-bottom margin-top expand="block" (click)="goToFormularios()">
      Cargar reporte
    </ion-button>
  </ion-list>
</ion-content>
