// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import "~angular-calendar/css/angular-calendar.css";

ion-item {
  --highlight-color-valid: var(--ion-color-secondary,#f1c40f);
}
ion-label {
  color:  var(--ion-color-primary,#f1c40f);
}
.cal-week-view .cal-time-events {
  max-height: 75vh;
  overflow-x: auto;
}

.cal-event-title {
  text-align: center;
  color: #000000;
  word-break: normal;
  white-space: pre-wrap;
  font-size: 10px;
}

ion-datetime.datetime-centrado {
  --padding-start: 0;
}

.hora-actual {
  background-color: #e8fde7;
}

.cal-day-columns {
  height: 100%;
}

.error-message {
  color: var(--ion-color-danger,#f1c40f);
}

//
//.cal-time-label-column .cal-week-view .cal-time, .cal-time-label-column .cal-hour-segment,.cal-time-label-column,
//.cal-time-label-column mwl-calendar-week-view-hour-segment,.cal-time-label-column .cal-hour,
//.cal-week-view .cal-time-label-column{
//  width: 70px;
//}
