<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Formularios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let formulario of formularios" margin (click)="irACargarReporte(formulario)">
      <ion-card-content>
        <ion-item no-padding no-margin>
          <h2><strong>Nombre:</strong> {{formulario.nombre}}</h2>
        </ion-item>
        <ion-item  no-padding no-margin lines="none">
          <p>{{formulario.descripcion}}</p>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
