<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollX>
  <div class="botones" *ngIf="viewDate">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-button expand="block"
                      mwlCalendarPreviousView
                      (viewDateChange)="listarReservas($event)"
                      [daysInWeek]="4"
                      [view]="view"
                      [(viewDate)]="viewDate"
                      margin-horizontal>
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6" >
          <ion-datetime class="datetime-centrado" text-center cancelText="Cancelar" doneText="Aceptar"
                        placeholder="Elegir fecha" (ionChange)="cambiarFiltros()"
                        [(ngModel)]="fechaElegida"
                        [max]="perfil.includes('alumno') ? maxDate.format('YYYY-MM-DD') : maxDate.year() + 2"
                        display-format="DD/MM/YYYY" picker-format="DD MM YYYY" name="fecha"></ion-datetime>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block"
                      mwlCalendarNextView
                      (viewDateChange)="listarReservas($event)"
                      [daysInWeek]="4"
                      [disabled]="nextDisabled"
                      [view]="view"
                      [(viewDate)]="viewDate"
                      margin-horizontal>
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
<!--  calendario reserva: mostrar en el cuadro del bloque instructor, mision, aernava-->
  <ng-template #customEventTemplate let-event="event" let-view="view">
      <p
              class="cal-event-title"
              [innerHTML]="event.title | calendarEventTitle: view:event"
      >
      </p>
    <p class="cal-event-title" *ngIf="event.meta.idReserva">Reserva {{event.meta.idReserva}}</p>
    <p class="cal-event-title" *ngIf="event.meta.instructor">{{event.meta.instructor.nombreCompleto}}</p>
    <p class="cal-event-title" *ngIf="event.meta.aeronave">{{event.meta.aeronave.descripcion}}</p>
    <p class="cal-event-title" *ngIf="event.meta.mision">{{event.meta.mision}}</p>
  </ng-template>
  <ng-template
          #customHourTemplate
          let-segment="segment"
          let-locale="locale"
          let-segmentHeight="segmentHeight"
          let-isTimeLabel="isTimeLabel">
    <div
            class="cal-hour-segment"
            [style.height.px]="segmentHeight"
            [class.cal-hour-start]="segment.isStart"
            [class.cal-after-hour-start]="!segment.isStart"
            [ngClass]="segment.cssClass || '' + isCurrentHour(segment.date)">
      <div class="cal-time" *ngIf="isTimeLabel">
        {{ segment.date | date:'HH:mm':locale }}
      </div>
    </div>
  </ng-template>


  <div class="scroll-horizontal" *ngIf="viewDate">
    <mwl-calendar-week-view
            style="overflow-x: auto;"
            [viewDate]="viewDate"
            [events]="events"
            [daysInWeek]="4"
            [hourSegments]="2"
            [hourSegmentHeight]="50"
            [dayStartHour]="0"
            [dayEndHour]="23"
            [eventTitleTemplate]="customEventTemplate"
            locale="es"
            [hourSegmentTemplate]="customHourTemplate"
            (hourSegmentClicked)="crearReserva($event)"
            (eventClicked)="handleEvent('Clicked', $event.event)"
    >
    </mwl-calendar-week-view>
  </div>

</ion-content>
