<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!buscando">Alumnos</ion-title>
    <ion-searchbar placeholder="Buscar..." *ngIf="buscando" (ionClear)="mostrarSearchBar()" [(ngModel)]="filtro" (keyup.enter)="filtrar()"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarSearchBar()" *ngIf="!buscando"><ion-icon [name]="'search'"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let alumno of alumnosFiltrados">
      <ion-card-content>
        <ion-item no-padding no-margin>
          <h2><strong>Alumno</strong> {{alumno.nombreCompleto}}</h2>
          <ion-button slot="end" (click)="goToEditar(alumno)">
            Editar
          </ion-button>
        </ion-item>
        <br>
        <ion-item lines="none" no-margin no-padding >
          <ion-label><strong>Correo:</strong> {{alumno.correo}}</ion-label>
        </ion-item>
        <ion-item lines="none" no-margin no-padding >
          <ion-label><strong>Documento:</strong> {{alumno.documento}}</ion-label>
        </ion-item>
        <ion-item lines="none" no-margin no-padding >
          <ion-label><strong>Horas de vuelo:</strong> {{alumno.horasVuelo | number:'1.0-3':'es'}} </ion-label>
        </ion-item>
        <ion-item lines="none" no-margin no-padding >
          <ion-label><strong>Curso:</strong> {{alumno.cursoDescripcion}}</ion-label>
        </ion-item>
        <ion-item lines="none" no-margin no-padding >
          <ion-label><strong>Direccion:</strong> {{alumno.direccion}}</ion-label>
        </ion-item>
        <ion-item lines="none" no-margin no-padding >
          <ion-label><strong>Licencia de vuelo:</strong> {{alumno.nroLicenciaVuelo}} </ion-label>
        </ion-item>
        <ion-item lines="none" no-margin no-padding >
          <ion-label><strong>Vencimiento carnet:</strong> {{reemplazarGuion(alumno.fechaVencimientoPermiso) | date:'dd-MM-yyyy'}}</ion-label>
        </ion-item>
        <ion-item lines="none" no-margin no-padding >
          <ion-label><strong>Vencimiento CMA:</strong> {{reemplazarGuion(alumno.cma) | date:'dd-MM-yyyy'}}</ion-label>
        </ion-item>
        <ion-button margin-top expand="block" (click)="goToReportes(alumno.idAlumno)">
          Ver reportes
        </ion-button>
<!--        <ion-item lines="none" no-margin no-padding >-->
<!--          <ion-label><strong>Saldo:</strong> {{alumno.saldoDisponible}} </ion-label>-->
<!--        </ion-item>-->
<!--        <ion-grid>-->
<!--          <ion-row>-->
<!--            <ion-col size="6">-->
<!--              <ion-button expand="block" size="small" (click)="mostrarAlertSaldo(alumno, 1)">-->
<!--                Sumar saldo-->
<!--              </ion-button>-->
<!--            </ion-col>-->
<!--            <ion-col size="6">-->
<!--              <ion-button expand="block" size="small" (click)="mostrarAlertSaldo(alumno, 2)">-->
<!--                Debitar saldo-->
<!--              </ion-button>-->
<!--            </ion-col>-->
<!--          </ion-row>-->
<!--        </ion-grid>-->
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
