<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid style="height: 100%">
    <ion-row  style="height: 100%; flex-direction: column">
      <form (submit)="cambiarPassword()">
        <ion-list>

          <ion-item margin-bottom>
            <ion-label position="floating">Contraseña actual</ion-label>
            <ion-input type="password" [(ngModel)]="passActual" name="oldPassword"></ion-input>
          </ion-item>

          <ion-item margin-bottom>
            <ion-label position="floating">Contraseña nueva</ion-label>
            <ion-input type="password" [(ngModel)]="passNuevo" name="newPassword"></ion-input>
          </ion-item>

          <ion-item margin-bottom>
            <ion-label position="floating">Confirmar contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword"></ion-input>
          </ion-item>

          <div padding>
            <ion-button color="primary" expand="block" type="submit">Cambiar Contraseña</ion-button>
          </div>

        </ion-list>
      </form>
    </ion-row>
  </ion-grid>


</ion-content>
